bin
obj
packages
*.dll
*.suo
*.user
_ReSharper.*
AgriBook/AgriBook.API/obj/Debug/AgriBook.API.csprojResolveAssemblyReference.cache
AgriBook/.vs/AgriBook/v14/.suo
AgriBook/.vs/AgriBook/v14/.suo
AgriBook/AgriBook.API/App_Data/aspnet-AgriBook.API-20160216094050.mdf
AgriBook/AgriBook.API/bin/AgriBook.API.dll
AgriBook/AgriBook/obj/Debug/AgriBook.dll
AgriBook/AgriBook/obj/Debug/AgriBook.pdb
AgriBook/.vs/AgriBook/v14/.suo
AgriBook/.vs/config/applicationhost.config
AgriBook/AgriBook.API/App_Data/aspnet-AgriBook.API-20160216094050.mdf
AgriBook/AgriBook.API/App_Data/aspnet-AgriBook.API-20160216094050_log.ldf
AgriBook/AgriBook.API/bin/AgriBook.API.dll
AgriBook/AgriBook.API/bin/AgriBook.API.pdb
AgriBook/AgriBook.API/obj/Debug/AgriBook.API.csprojResolveAssemblyReference.cache
AgriBook/AgriBook.API/obj/Debug/AgriBook.API.dll
AgriBook/AgriBook.API/obj/Debug/AgriBook.API.pdb
AgriBook/AgriBook/bin/AgriBook.dll
AgriBook/AgriBook/bin/AgriBook.pdb
AgriBook/AgriBook/obj/Debug/AgriBook.dll
AgriBook/AgriBook/obj/Debug/AgriBook.pdb
AgriBook/AgriBook/obj/Debug/AgriBook.UI.csproj.FileListAbsolute.txt
AgriBook/AgriBook/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
