<div class="left-sidebar">
    <div class="logo-image"><img src="../content/images/laktal.png"></div>
    <div class="logo">Laktal-<span>Stipanjići</span></div>
    <div class="nav">
        <ul class="nav">
            <li data-ng-click="currentTab=1"><a data-ng-class="{active:currentTab==1}"><i class="fa fa-th-large"></i></a></li>
            <li data-ng-click="openCropsModal(); currentTab=2"><a data-ng-class="{active:currentTab==2}"><img src="../content/images/sjeme.png"></a></li>
            <li data-ng-click="openFertilizersModal(); currentTab=3"><a data-ng-class="{active:currentTab==3}"><img src="../content/images/gnojivo.png"></a></li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 title-area">
            <h2 class="pull-left">Molimo Vas da izaberete parcelu</h2>
        </div>
        <div class="col-md-2 year-picker-main">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="year" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" show-button-bar="false" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="search-main">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pretraga..." data-ng-model="searchParcelValue">
                    <span class="input-group-btn"><button class="btn btn-secondary" type="button" data-ng-click="searchParcel(searchParcelValue)">Traži</button></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row main-area">

        <!--GRAPHICS-->

        <div class="col-md-8 map-main-area">
            <div class="map-title">
                <h5>Grafički prikaz parcela</h5>
                <div class="row">
                    <div class="label">{{parcels.length}} Parcela</div>
                </div>
            </div>
            <div class="map-content">
                <div class="legend">
                    <div class="legend-item" data-ng-repeat="crop in crops">
                        <div class="legend-item-color" data-ng-style="{'background-color' : '{{crop.Color}}'}"></div>
                        <div class="legend-item-desc">
                            {{crop.Name}}
                        </div>
                    </div>
                </div>
                <svg id="svg-id" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 251.11 321.8">
                    <polygon class="cls-1" data-ng-repeat="parcel in parcels" ng-points="parcel.Points" data-ng-style="{'fill' : '{{parcel.Plantings[0].PlantingCrops[0].Crop.Color}}'}" data-ng-click="openParcelModal(parcel)" data-ng-class="{memo:parcel.shouldMark==true, 'cls-1':parcel.shouldMark==undefined}" />
                </svg>
                <!--<div class="zoom-buttons">
                    <i class="fa fa-minus-circle"></i>
                    <i class="fa fa-plus-circle"></i>
                </div>-->
            </div>
        </div>

        <!--STATS-->

        <div class="col-md-4 stats-wrapper">
            <div class="stats-title">
                <h5 data-ng-show="parcelsPreview.length">Pregled trenutne pokrivenosti</h5>
                <h5 data-ng-show="!parcelsPreview.length">Pokrivenost sa sjemenima će biti prikazana ispod</h5>
                <div class="label">{{parcels.length}} Parcela</div>
            </div>
            <div class="stats-content" data-ng-show="parcelsPreview.length">
                <div class="stats-item" data-ng-repeat="item in parcelsPreview">
                    <img alt="image" class="img-circle pull-left" data-ng-src="{{item.ImageUrl}}">
                    <div class="media-body pull-left">
                        <strong>{{item.Name}}</strong> , pokrivenost parcela: <strong>{{item.ParcelIds.length}}</strong>
                        <br>
                        <span data-ng-show="item.ParcelIds.length>1">Parcele:</span>
                        <span data-ng-show="item.ParcelIds.length==1">Parcela:</span>
                        <small class="text-muted" data-ng-repeat="id in item.ParcelIds"> {{id}} {{$last ? '' : ', '}}</small>
                    </div>
                    <small class="pull-right">{{calculatePercentage(parcelsPreview,item) | number : 2}} %</small>
                </div>
            </div>
        </div>
    </div>
</div>
